/* css for number guesser game by karen kepner */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;
}

header {
  background-color: #404041;
  text-align: center;
}
/*heading styles*/
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.number {
  color: #ED458B;
  display: inline-block;
  padding: 5px;
  font-weight: 700;
}

.guesser {
  color: #E6E7E8;
  display: inline-block;
  font-weight: 300;
}

/*main body styles*/
main {
  text-align: center;
  margin: 0px auto;
}

input {
  margin: 5px auto;
  height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #D0D2D3;
  color: #D0D2D3;
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
}

.number-guess {
  display: block;
  margin: 20px auto 10px auto;
  width: 50%;
  border-color: #D0D2D3;
}

button {
  background-color: #929497;
  border-radius: 26px;
  color: #FFFFFF;
  display: inline-block;
  width: 25%;
  min-width: 100px;
  margin: 10px;
  padding: 2px;
  border: none;
  font-size: 1.1em;
  font-weight: 300;
  outline: none;
}

button[disabled=disabled], button:disabled {
  background-color: #D0D2D3;
}

button:hover:enabled {
  background-color: #EB008B;
}

.last-guess {
    color: #404041;
}

.big-last-guess {
    font-size: 8em;
    color: #EB008B;
    margin: 0px;
    min-height: 150px;
}

.reset{
  width: 50%;
  font-size: 1em;
}

.range {
  width: 20%;
  clear: right;
}

.range-change {
    width: 50%;
    margin: 10px;
}

/*media query changes to layout for 420px screen*/
@media (max-width: 600px) {
  button {
    display: inline;
    width: 90%;
  }
  .guess-input {
    clear: both;
  }

  .reset {
    width: 90%;
  }

  input {
    width: 90%;
  }

  .number-guess {
    width: 90%;
  }

  .range {
    width: 80%;
    margin: 5px 0px;
  }

  .range-change {
    width: 80%;
  }
}
