/* css for number guesser game by karen kepner */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;
}

header {
  background-color: #404041;
  text-align: center;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.number {
  color: #ED458B;
  display: inline-block;
  padding: 5px;
  font-weight: 700;
}

.guesser {
  color: #E6E7E8;
  display: inline-block;
  font-weight: 300;
}

main {
  text-align: center;
  margin: 0px auto;
}

input {
  margin: 0px auto;
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #D0D2D3;
  color: #D0D2D3;
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
}

.number-guess {
  display: block;
  margin: 1px auto;
  width: 40%;
  height: 40px;
  border-style: solid;
  border-color: #D0D2D3;
  font-size: 1em;
}

button {
  color: #FFFFFF;
  background-color: #929497;
  border-radius: 26px;
  display: inline-block;
  width: 25%;
  min-width: 100px;
  margin: 10px auto;
  padding: 2px;
  border: none;
  font-size: 1.1em;
  font-weight: 300;
  outline: none;
}

button[disabled=disabled], button:disabled {
  background-color: #D0D2D3;
}

button:hover:enabled {
  background-color: #EB008B;
}

.last-guess {
    color: #404041;
}

.big-last-guess {
    font-size: 5em;
    color: #EB008B;
    margin: 0px;
    min-height: 100px;
}

.reset{
  width: 50%;
}
